{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Environments</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vms/style.css' %}">
</head>
<body>


<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ customer }}</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/login">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Environments <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Environments</h1>
            </div>
        <div class="card-deck">
            {% for state in status %}
            <div class="card">
                    <h5 class="card-header">{{ state.environment }}</h5>
                <div class="card-body">
                        {% if not state.created %}
                            <h5 class="card-title">Not created</h5>
                            <p class="card-text">
                                A {{ state.environment }} environment consists of the following: <br>
                            {% if state.environment == 'bronze'%}
                                - 1 x Web server <br>
                            {% elif state.environment == 'silver' %}
                                - 1 x Load balancer <br>
                                - 2 x Web server <br>
                            {% elif state.environment == 'gold' %}
                                - 1 x Load balancer <br>
                                - 2 x Web server <br>
                                - 1 x Database server <br>
                            {% endif %}
                            </p>
                            <a href="/deploy/{{ customer }}/{{ customer_id }}/{{ state.environment }}" class="btn btn-primary">Create</a>
                        {% else %}
                            <h5 class="card-title">Created</h5>
                            <p class="card-text">
                            {% for line in state.comment %}
                                - {{ line }} <br>
                            {% endfor %}
                            </p>
                            <a href="/destroy/{{ customer }}/{{ customer_id }}/{{ state.environment }}" class="btn btn-danger">Destroy</a>
                        {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        </main>
    </div>
</div>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>