{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>vm2ssp signin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'vms/login.css' %}">
</head>

<body class="text-center">
<form class="form-signin" action="/" method="get">
    <h1 class="h3 mb-3 font-weight-normal">Please select a customer</h1>
    <div class="form-group">
        <select class="form-control" name="customer" id="exampleFormControlSelect1">
            {% for customer in customers %}
                <option name="" value="{{ customer.0 }}_{{ customer.1 }}">{{ customer.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Select customer</button>
</form>


</body>
</html>